html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




// ANIMATIONS------------------------------------------------------


// TOP BLACK MOVE DOWN
.top-black {
  background-color: black;
  width: 100%;
  height: 100%;
  pointer-events: none;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: 100%;
  display: grid;
  position: fixed;
  z-index: 1;
}
.top-black-animate {
  animation: moveDown .75s forwards;
  animation-timing-function: ease-in;
}
@keyframes moveDown {
  0%   {transform: translateY(0px);}

  100% {transform: translateY(55vh);}
}


// TOP BLACK MOVE DOWN ACROSS SCREEN - SECOND ANIMATION
.top-black-animate-rev {
  animation: moveDownRev .75s forwards;
  animation-timing-function: ease-in;
}
@keyframes moveDownRev {
  0%   {transform: translateY(55vh);}

  100% {transform: translateY(200vh);}
}


// BOTTOM BLACK MOVE UP
.bottom-black {
  background-color: black;
  width: 100%;
  height: 100%;
  pointer-events: none;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: 100%;
  display: grid;
  position: fixed;
  z-index: 1;
}
.bottom-black-animate {
  animation: moveUp .75s forwards;
  animation-timing-function: ease-in;
}
@keyframes moveUp {
  0%   {transform: translateY(0px);}

  100% {transform: translateY(-55vh);}
}


// BOTTOM BLACK MOVE BACK DOWN - SECOND ANIMATION
.bottom-black-animate-rev {
  animation: moveUpRev .75s forwards;
  animation-timing-function: ease-in;
}
@keyframes moveUpRev {
  0%   {transform: translateY(-55vh);}

  100% {transform: translateY(0px);}
}


// MOVE TITLE DOWN AND FADE
.profile-single__title {
  font-size: 4rem;
  margin-bottom: 34px;
}
.single-title-animate {
  animation: animateSingleTitle 1s forwards;
  animation-timing-function: ease-in;
}
@keyframes animateSingleTitle {
  0%   {
    transform: translateY(20px);
    opacity: 0;
    }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}


// MOVE NAV DOWN AND FADE
.profile-single__nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -102px;
}
.single-nav-animate {
  animation: animateSingleNav 1s forwards;
  animation-timing-function: ease-in;
}
@keyframes animateSingleNav {
  0%   {
    transform: translateY(-10px);
    opacity: 0;
    }
  100% {
    transform: translateY(10px);
    opacity: 1;
  }
}


// FADE IN QUESTIONS
.profile-single__bottom {

}
.single-bottom-animate {
  animation: animateSingleBottom 1.4s forwards;
  animation-timing-function: ease-in;
}
@keyframes animateSingleBottom {
  0%   {
    opacity: 0;
    }
  100% {
    opacity: 1;
  }
}

