.profile-single {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    position: relative;
    flex-direction: column;
    .back-arrow {
        color: whitesmoke;
        position: absolute;
        top: 50px;
        left: 50px;
        height: 45px;
    }
    h1, h2, h3 ,h4, h5, h6, p, a, span {
        color: whitesmoke;
    }
    &__column {
        h3 {
            margin: 0;
            margin-top: 10px;
        }
        p {
            margin: 0;
        }
    }
    .profile-single__wrapper {
        text-align: center;
    }
    &__img-wrapper {
        width: 90vw;
    }
    &__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        height: 328px;
        object-position: 5% 20%;
    }
    &__bottom {
        margin-top: 28px;
    }
}